<div class="content">
    <h2 class="posttitle">$title$</h2>
    <section>
        <p>The design of this website draws inspiration from <a href="http://www.aaronsw.com/" target="_blank">Aaron Swartz's blog</a>. 
        Let us keep his life story alive in our memories.
        </p>

        <p>You can contact me at <a href="mailto:me@vpham.xyz">me@vpham.xyz</a>.</p>

        <p>I have a youtube channel <a href="$youtubeChannelUrl$" target="_blank">$youtubeChannelName$</a> where I mainly stream myself learning about random stuffs.
        You can read about my motivation for creating the channel <a href="$youtubeChannelWhy$">here</a>.
        </p>
    </section>
</div>
